@page
@model PrivacyModel
@{
    ViewData["Title"] = "Integrantes";
}
<h1>@ViewData["Title"]</h1>
<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h1 class="h3 mb-0">@ViewData["Title"]</h1>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">Gabriel Siqueira Rodrigues - RM: 98626</li>
                <li class="list-group-item">Gustavo de Oliveira Azevedo - RM: 550548</li>
                <li class="list-group-item">Isabella Jorge Ferreira - RM: 552329</li>
                <li class="list-group-item">Mateus Mantovani Araújo - RM: 98524</li>
                <li class="list-group-item">Juan de Godoy - RM: 551408</li>
            </ul>
        </div>
    </div>
</div>

